<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<script>console.log ('qualquer coisa')</script>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
            <% if (dados.erro == true && dados.erroapi == true) { %><h1> Limite excedido da API </h1>  <% } %>
            <% if (dados.erro == true && dados.erroapi == false) { %><h1> usuario inexistente </h1>  <% } %>
            <% if (dados.data) { %> <h1>user: <%= dados.data.login %></h1> <% } %>
        <div>
            <% if (dados.data) { %> <img src="<%= dados.data.avatar_url %>" alt=""> <% } %>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>