<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<script>console.log ('qualquer coisa')</script>
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>user: <%= dados.data.login %></h1>
        <div>
            <img src="<%= dados.data.avatar_url %>" alt="">
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>